.single-project{
    height:300px;
    width: 300px;
    padding: 24px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}

.single-project:hover{
    transform: translateY(15px);
}
.single-project:hover:before{
    opacity:1;
}
.single-project:hover .project-text{
    opacity: 1;
    transform: translateY(0);
}

.single-project::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgb(255, 123, 0), transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.single-project img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}

.project-text{
    position: relative;
    z-index: 3;
    color: white;
    opacity:0 ;
    transform: translateY(60px);
    transition: 0.5s;

}


