.aboutinfo-section img{
height: 95%;
width: 100%;
}

.about-text h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
}

.about-text p{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
}